@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dream Avenue";
  src: url("./assets/fonts/DreamAvenue.ttf") format("truetype");
}

:root {
  --principal: #840c80;
  --background: #fff9ec;
}

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Tenor Sans", Helvetica, sans-serif;
}
